.dashboard__div{
    width: 70vw;
    height: 80vh;
    border:0.1px solid #374151;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}

.active__table{
    background-color: #070713;
    color: #8E8F9E;
    height: 200px;
    overflow-y: auto;
}

.submit__input{
    color:white;
    background-color: #070713;
    height: 50px;
    border:2px solid #ffffff;
    outline: none;
    padding-left: 8px;
    border-radius: 8px;


    
}

.submit__input2{
    color:white;
    background-color: #070713;
    height: 150px;
    border:2px solid #ffffff;
    outline: none;
    padding-left: 8px;
    border-radius: 8px;


    
}